<section class="survey-section">
  <div class="container">
    <div class="blank-div">
    </div>
    <div class="survey-block" id="survey-block">
      <div class="heading text-center">
        <h1>Survey</h1>
      </div>

      <div id="myCarousel" class="carousel slide"> <!-- slider -->
        <div class="carousel-inner">
          <div class="active item new" id="slide1">
            <div class="question-block">
              <div class="row-row-margin">
                <div class="col-md-1 col-xs-2 pad-none">
                  <p>Q1 : </p>
                </div>
                 <div class="col-md-10 col-xs-10 pad-none">
                  <p>Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                </div>
                <div class="col-md-1"></div>
              </div>
              <div class="clearfix"></div>
              <div class="row row-margin">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10 col-xs-12 pad-none">
                 <div class="answer-block">
                    <textarea placeholder="Use voice recognition or type your answer">Use voice recognition or type your answer
                    </textarea>
                    <%= image_tag('voice-icon.png') %>
                  </div>
                </div>
                <div class="col-md-1 col-sm-1 mob-btn">
                  <!-- <div class="next-btn">
                    <a href="#">NEXT</a>
                  </div> -->
                </div>
              </div>
             </div>
          </div>
          <div class="item new" id="slide2">
             <div class="question-block" id="question2">
               <div class="row-row-margin">
                 <div class="col-md-1 col-xs-2 pad-none">
                   <p>Q2 : </p>
                 </div>
                  <div class="col-md-10 col-xs-10 pad-none">
                   <p>Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                 </div>
                 <div class="col-md-1"></div>
               </div>
               <div class="clearfix"></div>
               <div class="row row-margin">
                 <div class="col-md-1 col-sm-1"></div>
                 <div class="col-md-10 col-sm-10 col-xs-12 pad-none">
                  <div class="answer-block question-2">
                     <div class="select-answer">
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" />
                           <i class="input-helper"></i>
                           <span>"de Finibus Bonorum et Malorum", written by Cicero in 45 BC</span>
                         </label>
                       </div>
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" checked="" />
                           <i class="input-helper"></i>
                           <span>Lorem ipsum dolor sit amet.</span>
                         </label>
                       </div>
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" />
                           <i class="input-helper"></i>
                           <span>The standard Lorem Ipsum passage, used since the 1500s.</span>
                         </label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-1 col-sm-1 mob-btn">
                   <div class="next-btn">
                     <a href="#question3">NEXT</a>
                   </div>
                 </div>
               </div>
             </div>
          </div>
          <div class="item new" id="slide3">
             <div class="question-block" id="question2">
               <div class="row-row-margin">
                 <div class="col-md-1 col-xs-2 pad-none">
                   <p>Q3 : </p>
                 </div>
                  <div class="col-md-10 col-xs-10 pad-none">
                   <p>Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                 </div>
                 <div class="col-md-1"></div>
               </div>
               <div class="clearfix"></div>
               <div class="row row-margin">
                 <div class="col-md-1 col-sm-1"></div>
                 <div class="col-md-10 col-sm-10 col-xs-12 pad-none">
                  <div class="answer-block question-2">
                     <div class="select-answer">
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" checked="" />
                           <i class="input-helper"></i>
                           <span>"de Finibus Bonorum et Malorum", written by Cicero in 45 BC</span>
                         </label>
                       </div>
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" checked="" />
                           <i class="input-helper"></i>
                           <span>Lorem ipsum dolor sit amet.</span>
                         </label>
                       </div>
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" />
                           <i class="input-helper"></i>
                           <span>The standard Lorem Ipsum passage, used since the 1500s.</span>
                         </label>
                       </div>
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" />
                           <i class="input-helper"></i>
                           <span>The standard Lorem Ipsum passage, used since the 1500s.</span>
                         </label>
                       </div>
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" />
                           <i class="input-helper"></i>
                           <span>The standard Lorem Ipsum passage, used since the 1500s.</span>
                         </label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-1 col-sm-1 mob-btn">
                   <div class="next-btn">
                     <a href="#question3">NEXT</a>
                   </div>
                 </div>
               </div>
             </div>
          </div>
          <div class="item new" id="slide4">
            <div class="survey-block" id="survey-block">
              <div class="question-block" id="question2">
                <div class="row-row-margin">
                  <div class="col-md-12 pad-none">
                  <p>Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                  </div>
                  <form class="contact-form">
                    <div class="form-group col-md-6 pad-none">
                      <label for="exampleInputEmail1">Full Name</label>
                      <input type="text" class="form-control" placeholder="enter here">
                    </div>
                    <div class="form-group col-md-6 pad-none">
                      <label for="exampleInputEmail1">email address</label>
                      <input type="text" class="form-control" placeholder="enter here">
                    </div>
                    <div class="col-md-12 pad-none">
                    <label>phone number (optional)</label>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet.</p>
                    </div>
                    <div class="form-group col-md-6 pad-none">
                        <label class="custom-select">
                          <select>
                            <option>Philippines (+63)</option>
                            <option>Philippines (+63)</option>
                            <option>Philippines (+63)</option>
                            <option>Philippines (+63)</option>
                          </select>
                        </label>
                    </div>
                    <div class="form-group col-md-6 pad-none">
                      <input type="text" class="form-control" placeholder="enter best number here">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-6 pad-none">
                      <label for="exampleInputEmail1">Favorite Team(s)</label>
                      <input type="text" class="form-control" placeholder="enter here">
                    </div>
                    <div class="form-group col-md-6 pad-none">
                      <label for="exampleInputEmail1">Team</label>
                      <input type="text" class="form-control" placeholder="enter here">
                    </div>
                    <div class="col-md-12 pad-none">
                      <a href="thanku.php" class="next-btn pull-right">SUBMIT</a>
                      <a href="#" class="next-btn pull-left">BACK</a>
                    </div>
                  </form>
                </div>

              </div>
          </div>
        </div>

      </div> <!-- end slider -->
      <a class="carousel-control left next-btn" href="#myCarousel" id="back-btn" data-slide="prev">BACK</a>
      <a class="carousel-control right next-btn" href="#myCarousel" id="next-btn" data-slide="next">NEXT</a>
    </div>
  </div>
</section> <!-- survey-section  -->
